<head>
    <title>Edit page</title>
</head>

<body>
    <h1>Welcome to Edit page</h1>
    <!--<form action="/bupdatedata" method="post">-->
        <table border="1px">
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" value="{{t[0]}}"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="Title" value="{{t[1]}}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="Description" value="{{t[2]}}"></td>
            </tr>

            <!--<tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>-->


        </table>
    


</form>

</body>