<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mainpage.css')}}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Authors space</a>
      </div>
      <ul>
        <li><a href="/viewpost">View Post</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container1">
    <div class="content1">
      <div class="image-box">

      </div>
      
      
    <form action="/bupdatedata" method="post">
      <div class="topic">Update blog post</div>
      <div class="input-box">
        <input type="text" name="Name" value="{{ t[0] }}" id="" required>
        <label>Author name</label>
      </div>
      <div class="input-box">
        <input type="text" name="Title" value="{{ t[1] }}" id="" required>
        <label>Blog Title</label>
      </div>
      <div class="input-box">
        <input type="text" name="Description" value="{{ t[2] }}" id="" required>
        <label>Blog</label>
    
        
      </div>
      <div class="input-box">
        <input type="submit" value="Update Blog">
      </div>
    </form>
  </div>
  </div>
</body>
</html>