<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mainpage.css')}}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">Authors space</a>
          </div>
          <ul>
            <li><a href="/authoradmin">Home</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </nav>
    
        
    </body>
    <table border ="1px">

                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th colspan="2">Action</th>
                 
                </tr>
                {%for i in ulist%}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td><a href="/bedit?Title={{i[1]}}"><button class="btn">Edit</button></a></td>
                    <td><a href="bdelete?Title={{i[1]}}"><button class="btn">Delete</button></a></td>
                </tr>
                {%endfor%}

           




    </table>




    

    
 

</body>
</html>